<nav id="new-navbar" class="navbar">
      <img src="/assets/logos/LogoFinal.png">
      
        <div id="navbar-title" > 
            <div class="row">
                <div class="col">
                    <button class="btn btn-propietary start-timer">Start Timer</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger stop-timer">Stop Timer</button>
                </div>
                <div class="col">00:00</div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="list-group list-group-root well"><h3 class="green-white">Clients</h3>

                    {{#each Clients}}
                        <a href="#item-1" data-id="{{id}}" class="list-group-item client" data-toggle="collapse">
                            <i class="glyphicon glyphicon-chevron-right"></i>{{Client_name}}
                        </a>

                        <div class="list-group collapse" id="item-1">
                            {{#each Projects}}
                                <a href="#item-1-1" data-id="{{id}}" class="project list-group-item" data-toggle="collapse">
                                    <i class="glyphicon glyphicon-chevron-right"></i>{{Project_name}}
                                </a>

                                <div class="list-group collapse" id="item-1-1">
                                    {{#each Tasks}}
                                        <button class="task btn-propietary list-group-item" data-id="{{id}}">{{Task_name}}</button>
                                    {{/each}}
                                    {{!-- add new Task  --}}
                                    <div class="input-group">
                                        <input type="text" class="add-task-input form-control" placeholder="Add Task">
                                        <span class="input-group-btn">
                                            <button class="add-task-btn btn btn-propietary" type="button">+</button>
                                        </span>
                                    </div>
                                    {{!-- add new Task  --}}
                                </div>
                            {{/each}}
                            {{!-- end project section --}}

                            {{!-- add new project  --}}
                            <div class="input-group">
                                <input type="text" class="add-project-input form-control" placeholder="Add Project">
                                <span class="input-group-btn">
                                    <button class="add-project-btn btn btn-propietary" type="button">+</button>
                                </span>
                            </div>
                            {{!-- add new project  --}}
                        
                        </div>
                        {{!-- end client 1 --}}

                    {{/each}}
                    {{!-- end client section --}}

                    {{!-- add new Client  --}}
                    <div class="input-group">
                        <input type="text" class="add-client-input form-control" placeholder="Add Client">
                        <span class="input-group-btn">
                            <button class="add-client-btn btn btn-propietary" type="button">+</button>
                        </span>
                    </div>
                    {{!-- add new Client  --}}
                    
                </div>
                {{!-- end list-group-root --}}
                      
            </div>
            {{!-- end col-md-4 --}}

            <div class="col-md-8">
                <table class="table table-striped green">
                    <thead>
                      <tr>
                        <th scope="col"><h4>Id</h4></th>
                        <th scope="col"><h4>Task</h4></th>
                        <th scope="col"><h4>Date</h4></th>
                        <th scope="col"><h4>Hours</h4></th>
                      </tr>
                    </thead>
                    <tbody>
                        {{#each Tasks}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{task_name}}</td>
                                <td>{{date}}</td>
                                <td>{{hoursWorked}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{!-- end col-md-8 --}}

        </div>
    </div>
    
    <footer>TimeVeil &copy 2020</footer>
    <script src="/assets/js/user.js"></script>